### Data import

In [1]:
import pandas as pd

In [2]:
a = pd.read_csv('C:\\Users\\Alicja\\Desktop\\nauka\\jdszr20-grupa-1\\data_for_modeling\\ClaimsKG_for_modeling.csv')
print(a.shape)
a.head()

(20865, 2)

                                                text  fake
0  While serving as U.S. Vice President, Henry A....     0
1  A 1964 campaign ad for President Lyndon B. Joh...     0
2  Fifty Republican former national security offi...     0
3  Elon Musk deleted a tweet where he called the ...     0
4  Texas Lt. Gov. Dan Patrick said COVID-19 socia...     0

In [3]:
b = pd.read_csv('C:\\Users\\Alicja\\Desktop\\nauka\\jdszr20-grupa-1\\data_for_modeling\\fake-news-detection-for_modeling.csv')
b = b.rename(columns={"title_text": "text"})
print(b.shape)
b.head()

(20000, 2)

                                                text  fake
0  Foreign Democrat final. more tax development b...     0
1  To offer down resource great point. probably g...     1
2  Himself church myself carry. them identify for...     1
3  You unit its should. phone which item yard Rep...     1
4  Billion believe employee summer how. wonder my...     1

In [4]:
c = pd.read_csv('C:\\Users\\Alicja\\Desktop\\nauka\\jdszr20-grupa-1\\data_for_modeling\\LIAR_for_modeling.csv')
print(c.shape)
c.head()

(9998, 2)

                                                text  fake
0  Says the Annies List political group supports ...     1
1  Hillary Clinton agrees with John McCain "by vo...     0
2  Health care reform legislation is likely to ma...     1
3  The Chicago Bears have had more starting quart...     0
4  Jim Dunnam has not lived in the district he re...     1

In [5]:
d = pd.read_csv('C:\\Users\\Alicja\\Desktop\\nauka\\jdszr20-grupa-1\\data_for_modeling\\WELFake_clean.csv')
print(d.shape)
d.head()

(72134, 2)

                                                text  fake
0  LAW ENFORCEMENT ON HIGH ALERT Following Threat...     0
1     Did they post their votes for Hillary already?     0
2  UNBELIEVABLE! OBAMA‚ÄôS ATTORNEY GENERAL SAYS MO...     0
3  Bobby Jindal, raised Hindu, uses story of Chri...     1
4  SATAN 2: Russia unvelis an image of its terrif...     0

In [6]:
e=pd.read_csv('C:\\Users\\Alicja\\Desktop\\nauka\\_data_analysis\\true_fake.csv')
print(e.shape)
e.head()

(43963, 2)

                                                text  fake
0  As U.S. budget fight looms, Republicans flip t...     0
1  U.S. military to accept transgender recruits o...     0
2  Senior U.S. Republican senator: 'Let Mr. Muell...     0
3  FBI Russia probe helped by Australian diplomat...     0
4  Trump wants Postal Service to charge 'much mor...     0

≈ÅƒÑCZENIE

In [7]:
df = pd.concat([a, b, c, d, e], axis=0).reset_index(drop=True)

print(df.shape)
print(df.head())

(166960, 2)
                                                text  fake
0  While serving as U.S. Vice President, Henry A....     0
1  A 1964 campaign ad for President Lyndon B. Joh...     0
2  Fifty Republican former national security offi...     0
3  Elon Musk deleted a tweet where he called the ...     0
4  Texas Lt. Gov. Dan Patrick said COVID-19 socia...     0

## Data preparation

In [8]:
print(df.shape)
print(df.info())

(166960, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166960 entries, 0 to 166959
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    166960 non-null  object
 1   fake    166960 non-null  int64
dtypes: int64(1), object(1)
memory usage: 2.5+ MB
None

In [9]:
print(df.isnull().sum())

text    0
fake    0
dtype: int64

In [10]:
df

                                                     text  fake
0       While serving as U.S. Vice President, Henry A....     0
1       A 1964 campaign ad for President Lyndon B. Joh...     0
2       Fifty Republican former national security offi...     0
3       Elon Musk deleted a tweet where he called the ...     0
4       Texas Lt. Gov. Dan Patrick said COVID-19 socia...     0
...                                                   ...   ...
166955  McPain: John McCain Furious That Iran Treated ...     1
166956  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...     1
166957  Sunnistan: US and Allied ‚ÄòSafe Zone‚Äô Plan to T...     1
166958  How to Blow $700 Million: Al Jazeera America F...     1
166959  10 U.S. Navy Sailors Held by Iranian Military ...     1

[166960 rows x 2 columns]

MODELING

In [11]:
df_modeling = df
df_modeling.head()

                                                text  fake
0  While serving as U.S. Vice President, Henry A....     0
1  A 1964 campaign ad for President Lyndon B. Joh...     0
2  Fifty Republican former national security offi...     0
3  Elon Musk deleted a tweet where he called the ...     0
4  Texas Lt. Gov. Dan Patrick said COVID-19 socia...     0

stopwords NLTK +prepocess

In [12]:
import pandas as pd
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

nltk.download('stopwords')
nltk.download('wordnet')

stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

def full_preprocess(text):
    text = str(text)
    
    # 1. Tokenizacja po spacji i usuwanie znak√≥w niealfabetycznych
    tokens = [re.sub(r'[^a-zA-Z]', '', word) for word in text.split()]
    
    # 2. Usuwanie pustych token√≥w i stopwords
    tokens = [word for word in tokens if word and word.lower() not in stop_words]
    
    # 3. Lematyzacja
    lemmatized = [lemmatizer.lemmatize(token.lower(), pos='v') for token in tokens]
    
    return lemmatized


df_modeling['Lemmatized Text'] = df_modeling['text'].apply(full_preprocess)

df_modeling.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Alicja\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Alicja\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

,text,fake,Lemmatized Text
0,"While serving as U.S. Vice President, Henry A....",0,"[serve, us, vice, president, henry, wallace, w..."
1,A 1964 campaign ad for President Lyndon B. Joh...,0,"[campaign, ad, president, lyndon, b, johnson, ..."
2,Fifty Republican former national security offi...,0,"[fifty, republican, former, national, security..."
3,Elon Musk deleted a tweet where he called the ...,0,"[elon, musk, delete, tweet, call, mastodon, so..."
4,Texas Lt. Gov. Dan Patrick said COVID-19 socia...,0,"[texas, lt, gov, dan, patrick, say, covid, soc..."

In [13]:
from collections import Counter

def most_common_words(tokens_series, n=15):
    all_tokens = [token for tokens in tokens_series for token in tokens]
    counter = Counter(all_tokens)
    return pd.DataFrame(counter.most_common(n), columns=['Word', 'Count'])

fake_top15 = most_common_words(df_modeling[df_modeling['fake']==1]['Lemmatized Text'], n=15)
print("Top 15 s≈Ç√≥w w Fake:")
print(fake_top15)

real_top15 = most_common_words(df_modeling[df_modeling['fake']==0]['Lemmatized Text'], n=15)
print("\nTop 15 s≈Ç√≥w w Real:")
print(real_top15)

Top 15 s≈Ç√≥w w Fake:
         Word   Count
0         say  283959
1       trump  206855
2       state   99870
3       would   89676
4          us   84397
5   president   79433
6      people   72660
7          mr   72352
8         new   69267
9        make   69214
10        one   68911
11         go   61714
12       time   61141
13       take   55722
14       also   54601

Top 15 s≈Ç√≥w w Real:
         Word   Count
0         say  205067
1       trump  176700
2          us  103416
3       state   87837
4       would   77807
5      people   67958
6   president   66811
7         one   59862
8        make   59568
9          go   54356
10    clinton   51002
11        new   50972
12       take   49025
13       time   47632
14       also   46933

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer

corpus = df_modeling['Lemmatized Text'].apply(lambda tokens: ' '.join(tokens))

tfidf = TfidfVectorizer()
X = tfidf.fit_transform(corpus)

In [15]:
num_features = X.shape[1]
print(f"Liczba kolumn: {num_features}")

Liczba kolumn: 323573

podzia≈Ç na zbi√≥r treningowy i testowy

In [16]:
y = df_modeling['fake']


from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [17]:
print(f"Rozmiar zbioru treningowego: {X_train.shape[0]}")
print(f"Rozmiar zbioru testowego: {X_test.shape[0]}")

Rozmiar zbioru treningowego: 133568
Rozmiar zbioru testowego: 33392

Regresja logistyczna

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

model_reg_log = LogisticRegression(max_iter=1000) 

model_reg_log.fit(X_train, y_train)
y_pred_reg_log = model_reg_log.predict(X_test)

In [19]:
accuracy_reg_log = accuracy_score(y_test, y_pred_reg_log)
print(f"Accuracy: {accuracy_reg_log:.4f}")

# Raport klasyfikacji 
print("Classification Report:")
print(classification_report(y_test, y_pred_reg_log))

# Macierz pomy≈Çek
cm_reg_log = confusion_matrix(y_test, y_pred_reg_log)
print("Confusion Matrix:")
print(cm_reg_log)

Accuracy: 0.5555
Classification Report:
              precision    recall  f1-score   support

           0       0.55      0.55      0.55     16500
           1       0.56      0.56      0.56     16892

    accuracy                           0.56     33392
   macro avg       0.56      0.56      0.56     33392
weighted avg       0.56      0.56      0.56     33392

Confusion Matrix:
[[9102 7398]
 [7445 9447]]

In [27]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Model drzewa decyzyjnego
model_tree = DecisionTreeClassifier(random_state=42)
model_tree.fit(X_train, y_train)

y_pred_tree = model_tree.predict(X_test)
accuracy_tree = accuracy_score(y_test, y_pred_tree)

print(f"Decision Tree - Accuracy: {accuracy_tree:.4f}")
print("Classification Report:")
print(classification_report(y_test, y_pred_tree))
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred_tree))

Decision Tree - Accuracy: 0.5832
Classification Report:
              precision    recall  f1-score   support

           0       0.58      0.58      0.58     16500
           1       0.59      0.58      0.59     16892

    accuracy                           0.58     33392
   macro avg       0.58      0.58      0.58     33392
weighted avg       0.58      0.58      0.58     33392

Confusion Matrix:
[[9643 6857]
 [7061 9831]]

In [28]:
from sklearn.ensemble import RandomForestClassifier

# Model lasu losowego
model_rf = RandomForestClassifier(n_estimators=100, random_state=42)
model_rf.fit(X_train, y_train)

y_pred_rf = model_rf.predict(X_test)
accuracy_rf = accuracy_score(y_test, y_pred_rf)

print(f"Random Forest - Accuracy: {accuracy_rf:.4f}")
print("Classification Report:")
print(classification_report(y_test, y_pred_rf))
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred_rf))

Random Forest - Accuracy: 0.5095
Classification Report:
              precision    recall  f1-score   support

           0       0.50      0.51      0.51     16500
           1       0.52      0.51      0.51     16892

    accuracy                           0.51     33392
   macro avg       0.51      0.51      0.51     33392
weighted avg       0.51      0.51      0.51     33392

Confusion Matrix:
[[8392 8108]
 [8271 8621]]

In [ ]:
# from sklearn.svm import SVC

# model_svm = SVC()
# model_svm.fit(X_train, y_train)

# y_pred_svm = model_svm.predict(X_test)
# accuracy_svm = accuracy_score(y_test, y_pred_svm)

# print(f"SVM - Accuracy: {accuracy_svm:.4f}")
# print("Classification Report:")
# print(classification_report(y_test, y_pred_svm))
# print("Confusion Matrix:")
# print(confusion_matrix(y_test, y_pred_svm))

In [ ]:
# SVM - Accuracy: 0.4642
# Classification Report:
#               precision    recall  f1-score   support

#            0       0.46      0.44      0.45     16500
#            1       0.47      0.48      0.48     16892

#     accuracy                           0.46     33392
#    macro avg       0.46      0.46      0.46     33392
# weighted avg       0.46      0.46      0.46     33392

# Confusion Matrix:
# [[7321 9179]
#  [8714 8178]]

# SVM STRASZNIE D≈ÅUGO SIƒò KRƒòCI

In [30]:
from sklearn.neighbors import KNeighborsClassifier

model_knn = KNeighborsClassifier(n_neighbors=5)
model_knn.fit(X_train, y_train)

y_pred_knn = model_knn.predict(X_test)
accuracy_knn = accuracy_score(y_test, y_pred_knn)

print(f"KNN - Accuracy: {accuracy_knn:.4f}")
print("Classification Report:")
print(classification_report(y_test, y_pred_knn))
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred_knn))

KNN - Accuracy: 0.4717
Classification Report:
              precision    recall  f1-score   support

           0       0.48      0.86      0.62     16500
           1       0.40      0.09      0.15     16892

    accuracy                           0.47     33392
   macro avg       0.44      0.48      0.38     33392
weighted avg       0.44      0.47      0.38     33392

Confusion Matrix:
[[14202  2298]
 [15342  1550]]

In [31]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Model XGBoost
model_xgb = XGBClassifier(use_label_encoder=False, eval_metric="logloss", random_state=42)
model_xgb.fit(X_train, y_train)

y_pred_xgb = model_xgb.predict(X_test)
accuracy_xgb = accuracy_score(y_test, y_pred_xgb)

print(f"XGBoost - Accuracy: {accuracy_xgb:.4f}")
print("Classification Report:")
print(classification_report(y_test, y_pred_xgb))
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred_xgb))

c:\Users\Alicja\anaconda3\envs\new_env\Lib\site-packages\xgboost\training.py:183: UserWarning: [00:01:35] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

XGBoost - Accuracy: 0.6242
Classification Report:
              precision    recall  f1-score   support

           0       0.60      0.69      0.65     16500
           1       0.65      0.56      0.60     16892

    accuracy                           0.62     33392
   macro avg       0.63      0.62      0.62     33392
weighted avg       0.63      0.62      0.62     33392

Confusion Matrix:
[[11421  5079]
 [ 7470  9422]]

In [32]:
# from sklearn.linear_model import LogisticRegression
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.svm import SVC
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
# import pandas as pd

# # S≈Çownik modeli do przetestowania
# models = {
#     "Logistic Regression": LogisticRegression(max_iter=1000),
#     "Decision Tree": DecisionTreeClassifier(),
#     "Random Forest": RandomForestClassifier(),
#     "SVM": SVC(),
#     "KNN": KNeighborsClassifier()
# }

# # Lista na wyniki
# results = []

# # Pƒôtla po modelach
# for name, model in models.items():
#     model.fit(X_train, y_train)
#     y_pred = model.predict(X_test)

#     acc = accuracy_score(y_test, y_pred)
#     results.append({"Model": name, "Accuracy": acc})

#     print(f"\n{name}")
#     print("Accuracy:", acc)
#     print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
#     print("Classification Report:\n", classification_report(y_test, y_pred))

# # Podsumowanie w tabeli
# df_results = pd.DataFrame(results).sort_values(by="Accuracy", ascending=False)
# print("\nüìä Podsumowanie:")
# print(df_results)

In [33]:
# from sklearn.linear_model import LogisticRegression
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.svm import SVC
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, roc_curve, auc
# import pandas as pd
# import matplotlib.pyplot as plt

# # Modele do przetestowania
# models = {
#     "Logistic Regression": LogisticRegression(max_iter=1000),
#     "Decision Tree": DecisionTreeClassifier(),
#     "Random Forest": RandomForestClassifier(),
#     "SVM": SVC(probability=True),  # wa≈ºne: probability=True dla ROC
#     "KNN": KNeighborsClassifier()
# }

# # Wyniki
# results = []

# # Wykres ROC
# plt.figure(figsize=(8,6))

# for name, model in models.items():
#     model.fit(X_train, y_train)
#     y_pred = model.predict(X_test)
#     y_proba = model.predict_proba(X_test)[:,1]  # potrzebne do ROC

#     acc = accuracy_score(y_test, y_pred)
#     results.append({"Model": name, "Accuracy": acc})

#     print(f"\n{name}")
#     print("Accuracy:", acc)
#     print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
#     print("Classification Report:\n", classification_report(y_test, y_pred))

#     # Krzywa ROC
#     fpr, tpr, _ = roc_curve(y_test, y_proba)
#     roc_auc = auc(fpr, tpr)
#     plt.plot(fpr, tpr, label=f"{name} (AUC = {roc_auc:.2f})")

# # Linia referencyjna
# plt.plot([0,1], [0,1], 'k--', label="Random guess")

# plt.xlabel("False Positive Rate")
# plt.ylabel("True Positive Rate")
# plt.title("ROC Curve - Por√≥wnanie modeli")
# plt.legend()
# plt.show()

# # Podsumowanie w tabeli
# df_results = pd.DataFrame(results).sort_values(by="Accuracy", ascending=False)
# print("\nüìä Podsumowanie:")
# print(df_results)q1